<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
    <ion-title>Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let profile of postDiscription" >
    <ion-card-content>
      <h2>Email     : {{useremail}}
      </h2>
      <br>
 <button ion-button primary (click)="doGetPicture(profile)">Take Photo</button>

 

<!--  <button (click)="takePicture()">PHOTO</button>
 -->

       <ion-item >
   <p style="text-align: center">
  <img  [src]="profile.base64Image" *ngIf="profile.base64Image" align="middle" class="imgclass" style="width : 100px; height : 100px; border-radius: 100px;" (click)="doGetPicture(profile)" />
   </p>
  
 </ion-item>
      <ion-item>
<!--             <img [src]="profile.base64Image" width="180px" class="padding"/>
 -->        <ion-label floating>Username
        </ion-label>
        <ion-input type="text"  [(ngModel)]="profile.username" name="username" >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mobile No
        </ion-label>
        <ion-input   limit-to="10" type="number" [(ngModel)]="profile.phonenumber"   name="mobile_number" >
        </ion-input>
      </ion-item>
      <div padding>
        <button ion-button primary block (click)="updateProfile(profile)" color="secondary">Submit
        </button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card  [hidden]="isHideProfile" >
    <ion-card-content>
      <h2>Email     : {{useremail}}
      </h2> 
      <br>
       <button ion-button primary (click)="doGetPicture(profile)">Take Photo</button>

      <ion-item>
        <ion-label floating>Username
        </ion-label>
        <ion-input type="text"  [(ngModel)]="profile.username" name="username" >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Mobile No
        </ion-label>
        <ion-input   limit-to="10" type="number" [(ngModel)]="profile.phonenumber"   name="mobile_number" >
        </ion-input>
      </ion-item>
      <div padding>
        <button ion-button primary block (click)="updateProfile(profile)" color="secondary">Submit
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
